<!-- Header Wrapper -->
<div id="header-wrapper">
  <div class="container">
    <div class="row">
      <div class="12u">
      
        <!-- Header -->
          <section id="header">
            
            <!-- Logo -->
              <h1><a href="{{ siteUrl }}">{{ siteName }}</a></h1>
            
            <!-- Nav -->
              <nav id="nav">
                <ul>
                  <li class="current_page_item"><a href="{{ siteUrl }}">Home</a></li>
                  <li>
                    <a href="">Dropdown</a>
                    <ul>
                      <li><a href="#">Lorem ipsum dolor</a></li>
                      <li><a href="#">Magna phasellus</a></li>
                      <li><a href="#">Etiam dolore nisl</a></li>
                      <li>
                        <a href="">Phasellus consequat</a>
                        <ul>
                          <li><a href="#">Magna phasellus</a></li>
                          <li><a href="#">Etiam dolore nisl</a></li>
                          <li><a href="#">Veroeros feugiat</a></li>
                        </ul>
                      </li>
                      <li><a href="#">Veroeros feugiat</a></li>
                    </ul>
                  </li>
                  <li><a href="right-sidebar.html">Right Sidebar</a></li>
                  <li><a href="left-sidebar.html">Left Sidebar</a></li>
                  <li><a href="no-sidebar.html">No Sidebar</a></li>
                </ul>
              </nav>

          </section>

      </div>
    </div>
    <div class="row">
      <div class="12u">

        <!-- Banner -->
          <section id="banner">
            <a href="http://www.buildwithcraft.com/">
              {% set image = entry.image.first() %}
              <span class="image image-full"><img src="{{ image.getUrl('homepageFeatured') }}" alt="" /></span>
              <header>
                <h2>{{ entry.featuredHeading }}</h2>
                <span class="byline">{{ entry.featuredSubhead }}</span>
              </header>
            </a>
          </section>

      </div>
    </div>
    <div class="row">
      <div class="12u">
          
        <!-- Intro -->
          <section id="intro">
          
            <div>
              <div class="row">
                <div class="4u">
                  <section class="first">
                    <span class="pennant"><span class="fa fa-cog"></span></span>
                    <header>
                      <h2>Ipsum consequat</h2>
                    </header>
                    <p>Nisl amet dolor sit ipsum veroeros sed blandit consequat veroeros et magna tempus.</p>
                  </section>
                </div>
                <div class="4u">
                  <section class="middle">
                    <span class="pennant pennant-alt"><span class="fa fa-flash"></span></span>
                    <header>
                      <h2>Magna etiam dolor</h2>
                    </header>
                    <p>Nisl amet dolor sit ipsum veroeros sed blandit consequat veroeros et magna tempus.</p>
                  </section>
                </div>
                <div class="4u">
                  <section class="last">
                    <span class="pennant pennant-alt2"><span class="fa fa-star"></span></span>
                    <header>
                      <h2>Tempus adipiscing</h2>
                    </header>
                    <p>Nisl amet dolor sit ipsum veroeros sed blandit consequat veroeros et magna tempus.</p>
                  </section>
                </div>
              </div>
            </div>

            <div class="actions">
              <a href="#" class="button big">Get Started</a>
              <a href="#" class="button alt big">Learn More</a>
            </div>
          
          </section>

      </div>
    </div>
  </div>
</div>