{#
 # Portfolio entry template
 # -------------------
 #
 # This template gets loaded whenever a Portfolio entry’s URL is
 # requested. That’s because the Portfolio section’s Template setting is
 # set to “portfolio/_entry”, the path to this template.
 #
 # When this template is loaded, it will already have an ‘entry’
 # variable, set to the requested Portfolio entry.
 #
 # See this page for more details on how Craft routes requests:
 # http://buildwithcraft.com/docs/routing
 #}

{% extends "_layout" %}

{% block content %}
  <section>
    <div>
      <div class="row">
        <div class="8u skel-cell-important">

          <!-- Content -->
          <article class="box is-post">
            {% set image = entry.portfolioImages.first() %}
            <a href="http://www.buildwithcraft.com" class="image image-full"><img src="{{ image.getUrl('portfolioEntry') }}" alt="" /></a>
            <header>
              <h2>{{ entry.title }}</h2>
              <span class="byline">Lorem ipsum dolor sit amet feugiat</span>
            </header>
            <p>{{ entry.body }}</p>
            <section>
              <header>
                <h3>More Details ...</h3>
              </header>
              {% for block in entry.extendedDescription %}
                {% if block.type == "copy" %}

                  <p>{{ block.copyContent }}</p>

                {% elseif block.type == "quote" %}

                  <p class="quote">{{ block.quoteContent }}</p>

                {% elseif block.type == "relatedProjects" %}
                  
                  <div class="extended-description-projects">
                    {% for project in block.projectsContent.find() %}
                      <a href="{{ project.url }}" class="extended-description-project">
                        {% set image = project.portfolioImages.first() %}
                        <img src="{{ image.getUrl('portfolioEntry') }}" alt="" />
                        <h3>{{ project.title }}</h3>
                      </a>
                    {% endfor %}
                  </div>

                {% endif %}
              {% endfor %}
            </section>
          </article>

        </div>
        <div class="4u">
          {% for project in entry.relatedProjects.find() %}

            <section class="box">
              {% set image = project.portfolioImages.first() %}
              <a href="{{ project.url }}" class="image image-full"><img src="{{ image.getUrl('portfolioEntry') }}" alt="" /></a>
              <header>
                <h3>{{ project.title }}</h3>
              </header>
              <p>{{ project.body }}</p>
              <footer>
                <a href="{{ project.url }}" class="button alt">View Project</a>
              </footer>
            </section>
            
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}
