{#
 # News index template
 # -------------------
 #
 # This template is loaded whenever http://example.com/news is
 # requested, because it is located at news/index.html in your
 # craft/templates/ folder.
 #
 # See this page for more details on how Craft routes requests:
 # http://buildwithcraft.com/docs/routing
 #}

{% extends "_layout" %}
{% set title = "My Portfolio" %}

{% block content %}
  <!-- Portfolio -->
  <section>
    <header class="major">
      <h2>My Portfolio</h2>
    </header>
    <div>
      <div class="row">

        {% for entry in craft.entries.section('portfolio').find() %}
        <div class="4u">
          <section class="box">
            {% set image = entry.portfolioImages.first() %}
            <a href="{{ entry.url }}" class="image image-full"><img src="{{ image.url }}" alt="" /></a>
            <header>
              <h3>{{ entry.title }}</h3>
            </header>
            <p>{{ entry.body }}</p>
            <footer>
              <a href="{{ entry.url }}" class="button alt">Find out more</a>
            </footer>
          </section>
        </div>
        {% endfor %}

      </div>
    </div>
  </section>
{% endblock %}
